################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Winhex/Winhex/bin/Debug
/Winhex/Winhex/obj/Debug
